{{!-- 
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    {{!-- Secondary navigation menu --}}
    {{#if @site.secondary_navigation}}
      <nav class="m-footer__nav-secondary" role="navigation" aria-label="{{t "Secondary menu in footer"}}">
        {{navigation type="secondary"}}
      </nav>
    {{/if}}

    {{!-- Social links --}}
    <nav class="m-footer-social" role="navigation" aria-label="{{t "Social media links"}}">
      {{#if @site.facebook}}
        <a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
          <span class="icon-facebook" aria-hidden="true"></span>
        </a>
      {{/if}}
      {{#if @site.twitter}}
        <a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
          <span class="icon-twitter" aria-hidden="true"></span>
        </a>
      {{/if}}
      <a href="{{@site.url}}/rss" aria-label="RSS" rel="noopener">
        <span class="icon-rss" aria-hidden="true"></span>
      </a>
    </nav>

    {{!-- Copyright --}}
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
    </p>

    {{!-- Custom link --}}
    <p class="m-footer-copyright">
      <a href="https://androidfinal.com" rel="noopener" target="_blank">
        {{t "Desenvolvido para Android Final"}}
      </a>
    </p>
  </div>
</footer>
